# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\cms\mycmszuixin4.30\cms4.28\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
